.container {
  width: 720px;
}

body {
  background: #ccc;
}

#header {
  padding-top: 15px;
  background: #fee; 
}

#header img {
  padding: 0em;
  background: #fee;
}

#content {
  margin-top: 2px;
  font-size: 120%;
  padding: 10px;
  background: #fff;
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: green;
  text-decoration: none;
}

a:visited {
  color: #e69;
}

/* Navigation */

.navigation {
  float: right;
}

.navigation {
  background-color: #edd;
  padding: 0 0.7em;
  white-space: nowrap;
}

ul.navigation {
  margin: 0;
}

.navigation li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

.navigation li a {
  font-size: 120%;
  padding: 0 5px;
  /*font-weight: bold; */
  color: green;
}

.navigation li a:visited {
  color: blue;
}

.navigation li a:hover {
  text-decoration: none;
  font-weight: bold;
}

#footer {
  text-align: center;
  margin-top: 2px;
  width: 720px;
  margin-left: auto;
  margin-right: auto;
}

#footer .navigation {
  float: none;
}
a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 140px;
  /*color: #fff; */
  background: #006400;
  font-size: 130%;
  font-weight: bold;
  padding: 6px;
}

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

table.profile {
  width: 100%;
  margin-bottom: 0;
  padding: 0em;
}

td.main {
  width: 60%;
  padding: 0em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

div.field{
  margin-bottom: 0px;
  background: #ffc;
}
.hint {
  float: center;
  background-color: #fff;
  padding: 0.5em;
}


.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

.fieldWithErrors label {
  color: #fff;
}

#errorExplanation {
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

