<tr>
  <td class="micropost">
    <b><span class="content"><%= h micropost.content %></span></b> <br />
    <span class="timestamp">
    <i>&nbsp;&nbsp;&nbsp;&nbsp;--- Posted <%= micropost.created_at %>.</i>
    </span>
  </td>
</tr>

